.create-project{
    padding-top: 160px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.create-project__caption{
    max-width: 770px;
}
.btn-get-started{
    margin-top: 46px;
}
.create-project__img-frame{
    margin-top: -140px;
}