.simple-ways{
    width: 80%;
    margin: 0 auto;
}
.simple-ways__caption{

}
.simple-ways__subcaption{
    margin-top: 32px;
}
.simple-ways__card-info-wrapper{
    margin-top: 48px;
    display: flex;
    justify-content: space-between;
}
.simple-ways__card-info{
    width: 33%;
}